[submodule "third-party/lodepng"]
	path = third-party/lodepng
	url = https://github.com/VirusRushTheater/lodepng
[submodule "third-party/pthreads-w32"]
	path = third-party/pthreads-w32
	url = https://github.com/uudiin/pthreads-w32.git
[submodule "third-party/iniparser"]
	path = third-party/iniparser
	url = https://github.com/ndevilla/iniparser.git
